In [1]:
import pandas as pd

In [2]:
file = open('multiclass_test.txt')

In [3]:
lines = file.readlines()

dataset = []

for i in range(0,len(lines)):
    var = lines[i].split()
    row = [float(x) for x in var[:-1]]
    row.append(int(var[-1]))
    dataset.append(row)

In [4]:
df = pd.DataFrame(dataset)
df

           0       1       2  3
0    10.7496  9.3209  8.2053  1
1     9.9154  8.3233  7.2704  1
2     9.5856  8.3885  7.8567  1
3    10.0442  9.9109  6.3326  1
4     8.7696  7.9728  5.4523  1
..       ...     ...     ... ..
295   2.5083  4.0213  2.5067  3
296   2.4330  5.1049  2.6796  3
297   3.3125  5.9690  0.7334  3
298   1.9635  6.6452  1.5356  3
299   2.1617  6.0891  1.3641  3

[300 rows x 4 columns]

In [6]:
df.to_csv('MulitiClassTest.csv',index=False)